@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.crsl-header {
  font-family: "Poppins", sans-serif;
}

.crsl-wrapper {
  padding: 2rem 10rem;
}

.crsl-content {
  display: flex;
  align-items: center;
}

.crsl-text {
  margin-left: 200px;
  width: 50%;
}

.crsl-text h1 {
  font-size: 70px;
  color: #ff9831;
  text-transform: uppercase;
  font-weight: 800;
}

.crsl-text p {
  font-size: 18px;
  color: #7e5106;
}

.crsl-buttons {
  margin-top: 50px;
}

.crsl-btn {
  display: inline-block;
  padding: 15px 35px;
  color: #7e5106;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 50px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.crsl-btn:hover {
  background-color: #7e5106;
  color: #ffffff;
}

.crsl-image {
  width: 50%;
}

.crsl-image img {
  margin-right: 225px;
  width: 550px;
}

.crsl-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}

.crsl-slide {
  position: relative;
}

.crsl-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7e5106;
  color: white;
  border: none;
  padding: 9px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.crsl-prev {
  left: 20px;
}

.crsl-next {
  right: 20px;
}

.crsl-arrow:hover {
  background-color: #ff8000;
}

.crsl-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.crsl-dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #d3d2d2;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crsl-dot.active {
  background-color: #7e5106;
}

@media (max-width: 991px) {
  
  .crsl-arrow {
    padding: 7px 12px;
    font-size: 20px;
    margin: 0 -8rem;
  }

  .crsl-content {
    flex-direction: column;
  }

  .crsl-text {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .crsl-text h1 {
    font-size: 50px;
  }

  .crsl-text p {
    font-size: 16px;
  }

  .crsl-btn {
    padding: 10px 25px;
    font-size: 14px;
  }

  .crsl-image {
    width: 100%;
    text-align: center;
  }

  .crsl-image img {
    margin-right: 0;
    width: 300px;
  }
}
