.horario {
  padding: 20px;
}

.horario-info {
  max-width: 1200px;
  margin: 0 auto;
}

.horario a {
  text-decoration: none;
  color: #ffffff; 
}

.horario-info h2 {
  font-size: 75px;
  color: #FFFFFF;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.horario-txt {
  display: flex;
  justify-content: space-between;
}

.txt {
  color: #FFFFFF;
}

.txt h4 {
  font-size: 18px;
  color: #7e5106;
  margin-bottom: 30px;
}

.txt p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

/* Redes sociales */
.horario-socials {
  display: flex;
  align-items: center; /* Centra con el título */
  gap: 10px;
}

.horario-social {
  height: 40px;
  width: 40px;
  border: 1px solid #7e5106;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horario-social:hover {
  background-color: #7e5106;
}

.horario-social img {
  height: 20px;
  width: 20px;
}

/* Responsive */
@media (max-width: 991px) {
  .horario {
    padding: 30px;
    text-align: center;
  }

  .horario-info h2 {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .horario-txt {
    flex-direction: column;
    align-items: center;
  }

  .horario-socials {
    justify-content: center;
  }
}
