main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.combobo {margin: 10px;}
.checkbobo {margin: 10px;}

.diva {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    padding: 10px;

    border-radius: 10px;
}

.diva2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    padding: 20px 30px;

    border-radius: 10px;
    margin-bottom: 20px;
}

.botones-pdf button {margin: 10px;}

.amarillo {background-color: #ff9900;}
.verde {background-color: #28a745;}