.home{
  margin: 10px;
}

#promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #a67c41;
  padding: 10px 20px;
  gap: 3vw;
  margin: 0 5%;
  border-radius: 30px;
}

#contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 600px;
}

.contenedor {
  text-align: center;
}

.contenedor h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 8px;
}

.contenedor p {
  font-size: 16px;
  margin-bottom: 16px;
  color: #444;
}

.btn-reserva {
  position: relative;
  background-color: #ff914d;
  color: white;
  border: none;
  width: 220px;
  height: 50px;
  font-size: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
}

.btn-reserva::before {
  content: "RESERVA AHORA";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  opacity: 1;
}

.btn-reserva::after {
  content: "¡VAMOS!";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-reserva:hover {
  background-color: #ff7a26;
  transform: scale(1.05);
}

.btn-reserva:hover::before {
  opacity: 0;
}

.btn-reserva:hover::after {
  opacity: 1;
}

.contenedor img {
  width: 30vw;
  max-width: 220px;
  height: auto;
}

#mapa {
  flex-shrink: 0;
  max-width: 500px;
  width: 100%;
}

#mapa iframe {
  width: 100%;
  height: 400px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  #promo {
    flex-direction: column;
  }

  #contenido {
    flex-direction: column;
  }

  #mapa iframe {
    height: 400px;
  }
}

#servicios {
  padding: 30px 0;
  text-align: center;
}

#servicios h2 {
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

#servicios div {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.contenedor_serv {
  width: 200px;
  height: 200px;
  border: #333 2px solid;
  border-radius: 50%;
  background-color: #bcbcbc;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.contenedor_serv:hover {
  transform: scale(1.05);
  background-color: #f6e0bf;
}

.contenedor_serv a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor_serv img {
  width: 110px;
  height: 110px;
  object-fit: contain;
  margin-bottom: 8px;
}

.contenedor_serv p {
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
