.testimonials-section {
  background-color: #d2a679;;
  padding: 40px 20px;
  text-align: center;
}

.testimonials-title {
  font-size: 2rem;
  font-weight: bold;
}

.testimonials-subtitle {
  margin-bottom: 30px;
  font-size: 1rem;
  color: #ffffff;
}

.testimonial-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.testimonial-info h3{
  color: #000000;
}

.testimonial-info{
  color: #ffffff;
}

.testimonial-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 10rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.testimonial-info {
  max-width: 500px;
  text-align: left;
}

.testimonial-text {
  margin: 15px 0;
  line-height: 1.5;
}

.stars {
  color: gold;
  font-size: 1.2rem;
}

.dots {
  margin-top: 20px;
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background-color: #635632;
}

@media (max-width: 768px) {
  .testimonial-card {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-info {
    text-align: center;
  }
}
