@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
  background-color: #f6e0bf;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#huellitas {
  scroll-margin-top: 250px; /* Espacio antes de que empiece el div */
}
#instalaciones {
  scroll-margin-top: 70px; /* Espacio antes de que empiece el div */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER flotante */
.menu {
  position: absolute;
  top: 40px; /* margen superior */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0 40px;
}

.navbar {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  position: relative;
}

/* Menú izquierdo */
.menu-1 ul {
  display: flex;
  gap: 20px;
}

/* Menú derecho */
.menu-2 ul {
  display: flex;
  gap: 20px;
}

/* Logo centrado en desktop */
.logo-2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 100px;
  display: block;
}

.logo-1 {
  width: 0;
  height: 0;
  display: none;
}

/* Socials */
.socials {
  display: flex;
}

.social {
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border: 1px solid #7e5106;
  border-radius: 50%;
}

.social:hover {
  background-color: #7e5106;
}

.social img {
  margin: 8px 0 0 10px;
}

/* Links */
.menu .navbar ul li a {
  font-size: 18px;
  padding: 10px;
  color: #7e5106;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #ffffff;
}

/* Mobile */
#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

/* Responsive */
@media (max-width: 991px) {
  .menu {
    padding: 14px;
    justify-content: space-between;
  }

  /* Ocultar menú derecho en móvil */
  .menu-2 {
    display: none;
  }

  /* Mostrar logo versión móvil */
  .logo-1 {
    width: 100px;
    height: auto;
    display: block;
  }

  /* Ocultar logo desktop en móvil */
  .logo-2 {
    width: 0;
    height: 0;
    display: none;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f6e0bf;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 10px 0;
  }

  .menu .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  #menu:checked ~ .navbar {
    display: flex;
  }
}
