#mascotas{
  display: flex;
  width: 100%;
  height: 100vh;
}

#lst_mascotas {
  background-color: white;
  padding: 1rem;
  flex: 1;
  border-radius: 5px;
}

#lst_mascotas h2 {
  display: flex;
  justify-content: center;
}

#lista_mascotas{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.3rem 0.8rem;
}

.anadir-goated {
  background-color: #4caf50;
  font-size: 17px;
  height: 40px;
}

.registro_mascota{
  border-radius: 10px;
  display: flex;
  padding: 0.5rem;
  width: 24.1%;
  border: 2px solid rgb(209, 209, 209);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foto_mascota{
  background-color:transparent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  width: 100%;
}

.foto_mascota img{
  border-radius: 10px;
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin-bottom: 0;
}

.base_mascota{
    width: 100%;
    display: flex;
}

.data_mascota{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.VDMascota {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.VDMascota_contenido {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 1000px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 0 10px black;
}

.VDMascota_contenido h2{
  text-align: center;
  justify-content: center;
}

.VDMascota_contenido_info{
  display: flex;
  justify-content: space-evenly;
  height: 420px;
}

.VDMascota_contenido_info table{
  width: 58%;
  border-collapse: collapse;
}

.VDMascota_contenido_info td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.VDMascota_foto{
  display: flex;
  width: 40%;
}

.VDMascota_foto img{
  width: 100%;
  border: #333 2px solid;
  object-fit: cover;
}

.VDMascota_cierre {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}