.historialM {
  width: 100%;
  height: 100%;
  display: flex;
}

.boton_retorno:hover {
  color: #2b6cb0;
  transform: translateX(-4px);
}

.historiales{
  background-color: rgb(255, 198, 122);
  padding: 1rem;
  flex: 1;
  border-radius: 5px;
}

.historial_encabezado {
  background: #e3e2e2d5;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  gap: 1rem;
}

/* Contenedor de datos */
.datos_historial {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Título */
.historial_encabezado h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #001C3D;
  margin: 0;
  letter-spacing: 0.5px;
  text-decoration: underline;
  border: none;
  text-align: center;
  margin-bottom: 0.5rem;
}

.DT_info{
  display: flex;
}

.DT_info_cas{
  display: flex;
  flex-direction: column;
  gap: 0.49rem;
  width: 50%;
  color: #33475B;
}

.DT_info_i{
  display: flex;
  align-items: center;
  height: 1.3rem;
}

/* Bloques */
.DT_info_i p {
  font-weight: bolder;
  width: 12rem;
  font-family:'Courier New', Courier, monospace;
  text-transform: capitalize;
}

.DT_info_i span {
  text-transform: capitalize;
  font-family:'Courier New', Courier, monospace;
  flex: 1;
}

.DT_foto{
  width: 20%;
}

.DT_foto img{
  border-radius: 10%;
  width: 100%;
}

.filtro_historial {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtro_historial p{
  font-size: larger;
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
}

.ftr_fechas{
  font-weight: 700;
}

.citas_mascota {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cita{
  flex: 1 1 19rem; 
  max-width: 22rem;
}

.citas_mascota p {
  margin: 0;
}

.citas_mascota_encabezado {
  background: #2b6cb0;
  display: flex;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: white;
  font-weight: bold;
  justify-content: space-between;
}

.citas_mascota_datos {
  background: white;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  color: #2d3748;
  border: 1px solid #e2e8f0;
}


@media (max-width: 600px) {
  .historial_encabezado {
    flex-direction: column;
    gap: 5px;
    text-align: center;
  }

  .citas_mascota_datos {
    font-size: 14px;
  }
}
